<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EditUser</title>
    <style>
        .b1 {
            background: #333;
            color: #fc0;
            font-size: 9pt;
        }
    </style>
</head>
<body>
<form th:method="PATCH" th:action="@{/users/{id}(id= ${user.getId()})}" th:object="${user}">
    <label for="firstName">Edited FirstName: </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <br/>
    <label for="secondName">Edited SecondName: </label>
    <input type="text" th:field="*{secondName}" id="secondName"/>
    <br/>
    <label for="age">Edited Age: </label>
    <input type="number" th:field="*{age}" id="age"/>
    <br/>
    <input type="submit" class="b1" value="Update!"/>
</form>

</body>
</html>